In [26]:
# Dependencies
import pandas as pd
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [16]:
# Create our session (link) from Python to the DB
session = Session(engine)

#Base.classes.keys()
inspector = inspect(engine)
measurement_cols = inspector.get_columns('measurement')
for column in measurement_cols:
    print(column["name"], column["type"])
    
print(f"-------------------")
    
station_cols = inspector.get_columns('station')
for column in station_cols:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT
-------------------
id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

## D1: Determine the Summary Statistics for June

In [24]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

june_temps = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month', Measurement.date)==6).all()
june_temps

#type(june_temps)
# --> returns list

list

In [51]:
# 2. Convert the June temperatures to a list.

#it's already in a list format

#list(june_temps)

In [30]:
# 3. Create a DataFrame from the list of temperatures for the month of June.

june_df = pd.DataFrame(june_temps, columns = [["Date" , "Temp"]])
june_df.head()

         Date  Temp
0  2010-06-01  78.0
1  2010-06-02  76.0
2  2010-06-03  78.0
3  2010-06-04  76.0
4  2010-06-05  77.0

In [31]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.

june_df.describe()

              Temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [ ]:
# 5. Return to your challenge instructions to compare your summary statistics

#they look the same!

## D2: Determine the Summary Statistics for December

In [53]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

data = engine.execute("SELECT date,tobs FROM Measurement WHERE strftime('%m', date) = '12'")
#for i in data:
    #print(i)

In [54]:
# 7. Convert the December temperatures to a list.

data = engine.execute("SELECT date,tobs FROM Measurement WHERE strftime('%m', date) = '12'")
#for i in data:
    #print(list(i))

In [49]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 

conn = engine.connect()
december_df = pd.read_sql("SELECT date,tobs FROM Measurement WHERE strftime('%m', date) = '12'", conn)
december_df.head()

         date  tobs
0  2010-12-01  76.0
1  2010-12-03  74.0
2  2010-12-04  74.0
3  2010-12-06  64.0
4  2010-12-07  64.0

In [50]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.

december_df.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [ ]:
# 10. Return to your challenge instructions to compare your summary statistics

#they match